
/*  //SELECTOR UNIVERSAL
*{
    color: red;
}

*/

/* Elementos*/

header{
    background-color: red;

}

button{
    background-color: red;
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin: 1%;

}
#logo{

    height: 45px;
}

.etiqueta{
    background-color: red;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
}

input{
    
}



h3 {
display: inline;

}

.imagen1{
    display: inline;
    width: 150px;
    padding: 0px;

}

.font1{

  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.font2{
  font-family: "Playwrite FR Trad", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}